# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore ML run files
MLOps/mlruns/

# Ignore parquet files from delta lake
lakehouse/storage/

# Ignore nifi binaries
front-end/BI/ETL/nifi-1.22.0/
front-end/BI/ETL/output

# Ignore IDE-specific files (customize as needed)
.vscode/
